In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/clean9.csv')
df.sample(5)

                                                Tweets
12931                  vegans environmental hypocrites
4591                             what's income sources
19002  migratory birds partially offset climate change
17460                      fandubbing project rk films
5679                        property developers rigour

In [ ]:
vectorizer = TfidfVectorizer()
vec = vectorizer.fit_transform(df['Tweets'])

km = KMeans(n_clusters=2,
               max_iter=1000,
               random_state=True,
               n_init=50)
km.fit(vec)
df['sentiment'] = km.labels_

#Remove old indexes and add new ones
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
df.to_csv("/content/drive/MyDrive/sentiment_data11.csv")

In [ ]:
df[df["sentiment"] == 1].sample(5)

                                                  Tweets  sentiment
13274  yesss orang dalem beneran udh yg dapet tix war...          1
1321   war loving militaristic dictator putin fascist...          1
13513           assad released hardened alqaeda fighters          1
9876                                          live india          1
10072  mean yeah personally think overpopulation thin...          1

In [ ]:
df[df["sentiment"] == 0].sample(5)

                                                  Tweets  sentiment
7826   climate change like fools gold people swearing...          0
8562   including climate change won't look like anti ...          0
18685  new podcast climate change zealots ignore clea...          0
4802                 watch know climate changeready rice          0
19898  heat waves asia likely climate change climatec...          0

In [ ]:
df[df["sentiment"] == 0].count()

Tweets       5267
sentiment    5267
dtype: int64

In [ ]:
df[df["sentiment"] == 1].count()

Tweets       16313
sentiment    16313
dtype: int64