In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv('/content/drive/MyDrive/clean17.csv')
df.sample(5)

                                                  Tweets
927    ferocious tank battle korean war great tank ba...
22124  war environmentally destructive endeavour know...
1668                                        ukraine lose
17452                      fa t oystf r lir love war ccc
20835  constant reference race giveaway racist tenden...

In [4]:
vectorizer = TfidfVectorizer()
vec = vectorizer.fit_transform(df['Tweets'])

km = KMeans(n_clusters=2,
               max_iter=1000,
               random_state=True,
               n_init=50)
km.fit(vec)
df['sentiment'] = km.labels_

#Remove old indexes and add new ones
df.drop(df.filter(regex="Unname"),axis=1, inplace=True)
df.to_csv("/content/drive/MyDrive/sentiment_data12.csv")

In [5]:
df[df["sentiment"] == 1].sample(5)

                                                  Tweets  sentiment
16486                                       china taiwan          1
3371           war ukraine russian fascist kill civilian          1
3265   zelensky try nato u s directly involve war cla...          1
15573                                           drop war          1
14652                                   creepy shit head          1

In [6]:
df[df["sentiment"] == 0].sample(5)

                                                Tweets  sentiment
6539   don t forget climate change care climate change          0
7687                           climate change cult lol          0
19678                            stress climate change          0
20458      child eat tell climate change destroy earth          0
19765                   raise awareness climate change          0

In [7]:
df[df["sentiment"] == 0].count()

Tweets       5324
sentiment    5324
dtype: int64

In [8]:
df[df["sentiment"] == 1].count()

Tweets       17559
sentiment    17559
dtype: int64